<div class="ui inverted five stackable cards">

        <div class="black card">
            <div class="content">

                #{list items:_station, as:'station'}
                <i class="ui right floated fitted inverted purple primary huge map marker icon"></i>
                <div class="header">${station.getName()}</div> </br>

                #{/list}
                <div class="description">
                    LNG : ${station.getLat()} </br>
                    LAT : ${station.getLng()}
                </div>
            </div>
        </div>
        #{if _station.readings.size() >0}
        <div class="black card">
            <div class="content">
                #{list items:_station.readings, as:'reading'}
                #{/list}
                <i class="${reading.WeatherIcon(reading.getCode())}"></i>
                <div class="header">Weather</div>


                <div class="description">
                    ${reading.Weather(reading.getCode())}
                </div>
            </div>
        </div>
        <div class="black card">
            <div class="content">
                <i class="${reading.TempIcon(reading.TempF(reading.getTemperature()))}"></i>
                <div class="header">Temp</div>
                  <div class="description">
                         ${reading.getTemperature()} C <br />
                         ${reading.TempF(reading.getTemperature())} F

                      <div class="right floated meta"><i class="${station.tempTrend}"></i></div>

                         <h4>Max -> ${station.maxTemperature} </h4>
                         <h4>Min -> ${station.minTemperature} </h4>

                 </div>
              </div>
          </div>
          <div class="black card">
              <div class="content">
                  <i class="${reading.WindIcon(reading.kMhr_Bft(reading.getWindSpeed()))}"></i>
                  <div class="header">Wind</div>
                  <div class="description">

                      ${reading.kMhr_Bft(reading.getWindSpeed())} bft <br />
                      ${reading.windDirection_Text(reading.getWindDirection())}  <br />
                      Feels Like -> ${reading.windChillCalc(reading.getTemperature(),reading.getWindSpeed())}  <br />
                      ${reading.kMhr_BftLabel(reading.getWindSpeed())} <br />

                      <div class="right floated meta"><i class="${station.windTrend}"></i></div>

                      <h4>Max -> ${station.maxWindSpeed} </h4>
                      <h4>Min -> ${station.minWindSpeed} </h4>

                  </div>

              </div>

          </div>

          <div class="black card">
              <div class="content">
                  <i class="${reading.PressureIcon(reading.getPressure())}"></i>
                  <div class="header">Pressure
                  </div>

                  <div class="description">
                      ${reading.getPressure()} hpa <br />

                      <div class="right floated meta"><i class="${station.pressureTrend}"></i></div>

                      <h4>Max -> ${station.maxPressure} </h4>
                      <h4>Min -> ${station.minPressure} </h4>

                  </div>

              </div>
              #{/if}
          </div>

</div>


