#{extends 'main.html' /}
#{set title:'About' /}
#{menu id:"about"/}

<section class="ui inverted teal center aligned middle aligned segment">
    <h1>Weather Top 1000</h1>
</section>
<section class="ui center aligned middle aligned segment">
<div class="ui two column grid">
    <div class="column">
        <figure></figure>
        <img class="ui image" src="/public/images/WeatherTop_Device2.jpg"></figure>
    </div>
    <div class="column" style="font-family:Tahoma">
        <p>
    Welcome to Weather Top 1000 - a modular weather station </br>
            </br>
    To date this low cost device takes a set of meteorological readings and displays these on a simple LCD
    display. Until now !</br>
            </br>
            </br>
    This is a joint venture between WeatherTop Inc and GrantApps to bring Ireland's weather stations to a digital platform.</br>
            </br>
    This is a prototype exhibition into the power that this application can achieve.</br></br>
    Right now we have two stations Dunmore & Tramore. The user is still manually inputting data read from the station, but in the future this data will become realtime, historized and continuous.

  </p>
    </div>
</div>
</section>
#{footer /}