#{extends 'main.html' /}
#{set title:'WeatherTop Dashboard' /}

#{menu id:"dashboard"/}

#{list items:station, as:'station'}
<section class="ui segment">
  <h2 class="ui header">
    ${station.getName()}

  </h2>

  #{cards station:station /} </br>

  <a href = "/stations/${station.id}" class="ui icon button">
    <i class="ui icon folder open"></i>
  </a>
  <a href = "/dashboard/deletestation/${station.id}" class="ui icon button">
    <i class="ui icon trash"></i>
  </a>
</section>

#{/list}

#{addstation /}
#{footer /}