#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<section class="ui grey inverted center aligned segment">
  <h1 class="ui header">
    Welcome to Weather Top 1000 Web Application
  </h1>
  <section class="ui two column center aligned middle aligned segment">
  <div class="column" style="font-family:Tahoma;">
    <p>
      Please Login to access your dashboard. <br/>

      If you haven't already, <a href="signup.html">sign-up </a> to avail of WeatherTop application's amazing new features.
    </p>
  </div>
  <div class="column">
  <img class="ui massive image centered bordered" src="/public/images/weatherTop_device.jpg">
  </div>

</section>
</section>
#{footer /}